In [1]:
import numpy as np
import pandas as pd
import nltk

In [2]:
df = pd.read_csv("D:\\Kaggle Notebook\\Identify the Sentiments Project\\train_2kmZucJ.csv")

In [3]:
df.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [4]:
df.shape

(7920, 3)

In [ ]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps =PorterStemmer()

In [6]:
corpus = []
for i in range(len(df)):
    rp = re.sub('[^a-zA-Z]'," ",df['tweet'][i])
    rp = rp.lower()
    rp = rp.split()
    rp = [ps.stem(word) for word in rp if not word in set(stopwords.words('english'))]
    rp = " ".join(rp)
    corpus.append(rp)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      7920 non-null   int64
 1   label   7920 non-null   int64
 2   tweet   7920 non-null   object
dtypes: int64(2), object(1)
memory usage: 185.8+ KB

# Vectorization

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()

In [9]:
X.shape

(7920, 20200)

In [10]:
y = pd.get_dummies(df['label'],drop_first = True)

In [11]:
y.shape

(7920, 1)

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= 101)

In [13]:
import warnings
warnings.filterwarnings("ignore")

In [14]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
ypred_train = model.predict(X_train)
ypred_test = model.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
print("Train Accuracy:",accuracy_score(y_train,ypred_train))
print("Test Accuracy:",accuracy_score(y_test,ypred_test))

Train Accuracy: 0.9296085858585859
Test Accuracy: 0.8743686868686869

In [17]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,ypred_test))

              precision    recall  f1-score   support

           0       0.93      0.89      0.91      1157
           1       0.74      0.83      0.78       427

    accuracy                           0.87      1584
   macro avg       0.84      0.86      0.85      1584
weighted avg       0.88      0.87      0.88      1584

In [18]:
confusion_matrix(y_test,ypred_test)

array([[1032,  125],
       [  74,  353]], dtype=int64)

In [19]:
df_t = pd.read_csv("D:\\Kaggle Notebook\\Identify the Sentiments Project\\test_oJQbWVk.csv")

In [20]:
df_t

        id                                              tweet
0     7921  I hate the new #iphone upgrade. Won't let me d...
1     7922  currently shitting my fucking pants. #apple #i...
2     7923  I'd like to puts some CD-ROMS on my iPad, is t...
3     7924  My ipod is officially dead. I lost all my pict...
4     7925  Been fighting iTunes all night! I only want th...
...    ...                                                ...
1948  9869  #SamsungGalaxyNote7 Explodes, Burns 6-Year-Old...
1949  9870  Now Available - Hoodie. Check it out here - ht...
1950  9871  There goes a crack right across the screen. If...
1951  9872  @codeofinterest as i said #Adobe big time we m...
1952  9873  Finally I got it .. thanx my father .. #Samsun...

[1953 rows x 2 columns]

In [21]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1953 entries, 0 to 1952
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1953 non-null   int64
 1   tweet   1953 non-null   object
dtypes: int64(1), object(1)
memory usage: 30.6+ KB

In [22]:
df_t.shape,df.shape

((1953, 2), (7920, 3))

In [23]:
corpus1 = []
for i in range(len(df_t)):
    rp = re.sub('[^a-zA-Z]'," ",df_t['tweet'][i])
    rp = rp.lower()
    rp = rp.split()
    rp = [ps.stem(word) for word in rp if not word in set(stopwords.words('english'))]
    rp = " ".join(rp)
    corpus1.append(rp)

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X1= cv.fit_transform(corpus1).toarray()

In [25]:
from IPython.core.display import HTML
HTML('''<div class="flourish-embed flourish-chart" data-src="visualisation/5060515"><script src="https://public.flourish.studio/resources/embed.js">
</script></div>''')

In [26]:
X1.shape

(1953, 7374)

In [27]:
predictions = model.predict(X1)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 20200 is different from 7374)

In [ ]:
predictions

In [ ]:
predictions.shape

In [ ]:
#output = pd.DataFrame({"id":df_t.id,"label": predictions})
#output.to_csv("IdentifySentiments.csv",index = False)